<tr>
  <td><%= departure.carrier %></td>
  <td><%= epoch_to_eastern_time(departure.scheduledtime) %></td>
  <td><%= departure.destination %></td>
  <td><%= departure.trip %></td>
  <td><%= track_num(departure.track) %></td>
  <td><%= departure.status %></td>
</tr>
