<%= form_for(departure_board) do |f| %>
  <% if departure_board.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(departure_board.errors.count, "error") %> prohibited this departure_board from being saved:</h2>

      <ul>
      <% departure_board.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :carrier %>
    <%= f.text_field :carrier %>
  </div>

  <div class="field">
    <%= f.label :scheduledtime %>
    <%= f.text_field :scheduledtime %>
  </div>

  <div class="field">
    <%= f.label :destination %>
    <%= f.text_field :destination %>
  </div>

  <div class="field">
    <%= f.label :trip %>
    <%= f.text_field :trip %>
  </div>

  <div class="field">
    <%= f.label :track %>
    <%= f.text_field :track %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.text_field :status %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
