<p id="notice"><%= notice %></p>

<h1>Departure Boards</h1>

<table>
  <thead>
    <tr>
      <th>Carrier</th>
      <th>Departure time</th>
      <th>Destination</th>
      <th>Train</th>
      <th>Track</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @departure_boards.each do |departure_board| %>
      <tr>
        <td><%= departure_board.carrier %></td>
        <td><%= departure_board.departure_time %></td>
        <td><%= departure_board.destination %></td>
        <td><%= departure_board.train %></td>
        <td><%= departure_board.track %></td>
        <td><%= departure_board.status %></td>
        <td><%= link_to 'Show', departure_board %></td>
        <td><%= link_to 'Edit', edit_departure_board_path(departure_board) %></td>
        <td><%= link_to 'Destroy', departure_board, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Departure Board', new_departure_board_path %>
